<!-- <!DOCTYPE html>
<html>
    <head>
        <title>GoCampers</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div class="fullpage">
        <div class="container intro">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        <div id="landing-header">
             <h1>Welcome to GoCampers!</h1>
            <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div> -->






    <!DOCTYPE html>
    <html>
        <head>
            <title>GoCampers</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
            <!-- <link rel="stylesheet" href="../assests/fullpage.min.css"> -->
            <link rel="stylesheet" href="/landing.css">
        </head>
        <style>
            /* body{
  background-color : #000000;
  font-family: 'Love Ya Like A Sister';
}
#landing-header{
	position:relative;
	z-index : 1;
	text-align : center;
	padding-top:40vh;
}
#landing-header h1{
  color :black;
  font-size :70px;
  text-shadow: 2px 2px 15px white;
  font-weight:1000;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg);

}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
} */
/* Older browser support - .no-cssanimations class added by modernizr */
/* .no-cssanimations .slideshow li {
	opacity: 1;
}
.section{
  background-color: turquoise;
}
section{
  height:100vh;
  width:100%;
} */



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.section{
    height:100vh;
    width:100%;
}
.s1{
    object-fit:cover;
    background-image: url("https://wallpaperaccess.com/full/5856.jpg");  
    width:100%; 
    height:100vh;        
}
#logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.s2{               
    color:black;
    padding:50px;
}
.s2 p{            
    font-size:24px;
    text-align: center;
}
.s2 h2{
    text-align: center;
    font-size:50px;
}
#logo path:nth-child(1){
    stroke-dasharray: 529.7599487304688;
    stroke-dashoffset: 529.7599487304688;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(2){
    stroke-dasharray:361.4756164550781;
    stroke-dashoffset:361.4756164550781;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray:423.7923583984375;
    stroke-dashoffset:423.7923583984375;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(4){
    stroke-dasharray:422.0367126464844;
    stroke-dashoffset:422.0367126464844 ;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(5){
    stroke-dasharray: 557.3187255859375;
    stroke-dashoffset: 557.3187255859375 ;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(6){
    stroke-dasharray:484.37774658203125 ;
    stroke-dashoffset:484.37774658203125 ;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(7){
    stroke-dasharray: 429.38525390625;
    stroke-dashoffset:429.38525390625 ;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(8){
    stroke-dasharray: 205.02023315429688;
    stroke-dashoffset: 205.02023315429688;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(9){
    stroke-dasharray: 349.01434326171875;
    stroke-dashoffset: 349.01434326171875;
    animation: line-anim 2s ease forwards 0.3s;
} 

.headline{
    color:white;
    font-size:30px;
    top:65%;
    left:60%;
    transform:translate(-60%, -65%);
    position: absolute;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
    
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    
    .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    }
    .btn{
      /* top:78%;
      left:50%;
      position: relative;
      transform:translate(-50%, -78%); */
      background-color: transparent;
      color:black;
      border:1px solid black;
    }
    .btn:hover{
      box-shadow: 2px 2px 10px black;
      color:rgb(0, 0, 0);
    }

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

.s2{
  background:linear-gradient(to left, #6d7071, #43454a);
  color:black;
}
.s2>h2{
  color:white;
  margin-top:50px;
}
.s2>p{
  font-size: 20px;
  margin-top:30px;
}


        </style>
        <body style="overflow-x: hidden;">
            <a href="/campgrounds">
            <div id="fullpage" class="row">
                <div class="container intro">
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <% if(success && success.length > 0){ %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                    <% } %>
                </div>
            <section class="section s1 d-flex col-lg-12 col-sm-12">
                <div>
                <!-- <svg 
                    id="logo" 
                    width="80%" 
                    height="100vh"; 
                    viewBox="0 0 761 151" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M84.36 9.632L51.672 72.128V110H38.568V72.128L5.73599 9.632H20.28L45.048 60.464L69.816 9.632H84.36Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M170.182 67.52C170.182 70.016 170.038 72.656 169.75 75.44H106.678C107.158 83.216 109.798 89.312 114.598 93.728C119.494 98.048 125.398 100.208 132.31 100.208C137.974 100.208 142.678 98.912 146.422 96.32C150.262 93.632 152.95 90.08 154.486 85.664H168.598C166.486 93.248 162.262 99.44 155.926 104.24C149.59 108.944 141.718 111.296 132.31 111.296C124.822 111.296 118.102 109.616 112.15 106.256C106.294 102.896 101.686 98.144 98.3257 92C94.9657 85.76 93.2857 78.56 93.2857 70.4C93.2857 62.24 94.9177 55.088 98.1817 48.944C101.446 42.8 106.006 38.096 111.862 34.832C117.814 31.472 124.63 29.792 132.31 29.792C139.798 29.792 146.422 31.424 152.182 34.688C157.942 37.952 162.358 42.464 165.43 48.224C168.598 53.888 170.182 60.32 170.182 67.52ZM156.646 64.784C156.646 59.792 155.542 55.52 153.334 51.968C151.126 48.32 148.102 45.584 144.262 43.76C140.518 41.84 136.342 40.88 131.734 40.88C125.11 40.88 119.446 42.992 114.742 47.216C110.134 51.44 107.494 57.296 106.822 64.784H156.646Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M200.583 3.44V110H187.479V3.44H200.583Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M236.02 45.632C238.612 41.12 242.452 37.376 247.54 34.4C252.724 31.328 258.724 29.792 265.54 29.792C272.548 29.792 278.884 31.472 284.548 34.832C290.308 38.192 294.82 42.944 298.084 49.088C301.348 55.136 302.98 62.192 302.98 70.256C302.98 78.224 301.348 85.328 298.084 91.568C294.82 97.808 290.308 102.656 284.548 106.112C278.884 109.568 272.548 111.296 265.54 111.296C258.82 111.296 252.868 109.808 247.684 106.832C242.596 103.76 238.708 99.968 236.02 95.456V147.44H222.916V31.088H236.02V45.632ZM289.588 70.256C289.588 64.304 288.388 59.12 285.988 54.704C283.588 50.288 280.324 46.928 276.196 44.624C272.164 42.32 267.7 41.168 262.804 41.168C258.004 41.168 253.54 42.368 249.412 44.768C245.38 47.072 242.116 50.48 239.62 54.992C237.22 59.408 236.02 64.544 236.02 70.4C236.02 76.352 237.22 81.584 239.62 86.096C242.116 90.512 245.38 93.92 249.412 96.32C253.54 98.624 258.004 99.776 262.804 99.776C267.7 99.776 272.164 98.624 276.196 96.32C280.324 93.92 283.588 90.512 285.988 86.096C288.388 81.584 289.588 76.304 289.588 70.256Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M315.333 59.744C315.333 49.952 317.541 41.168 321.957 33.392C326.373 25.52 332.373 19.376 339.957 14.96C347.637 10.544 356.133 8.336 365.445 8.336C376.389 8.336 385.941 10.976 394.101 16.256C402.261 21.536 408.213 29.024 411.957 38.72H396.261C393.477 32.672 389.445 28.016 384.165 24.752C378.981 21.488 372.741 19.856 365.445 19.856C358.437 19.856 352.149 21.488 346.581 24.752C341.013 28.016 336.645 32.672 333.477 38.72C330.309 44.672 328.725 51.68 328.725 59.744C328.725 67.712 330.309 74.72 333.477 80.768C336.645 86.72 341.013 91.328 346.581 94.592C352.149 97.856 358.437 99.488 365.445 99.488C372.741 99.488 378.981 97.904 384.165 94.736C389.445 91.472 393.477 86.816 396.261 80.768H411.957C408.213 90.368 402.261 97.808 394.101 103.088C385.941 108.272 376.389 110.864 365.445 110.864C356.133 110.864 347.637 108.704 339.957 104.384C332.373 99.968 326.373 93.872 321.957 86.096C317.541 78.32 315.333 69.536 315.333 59.744Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M426.567 70.256C426.567 62.192 428.199 55.136 431.463 49.088C434.727 42.944 439.191 38.192 444.855 34.832C450.615 31.472 456.999 29.792 464.007 29.792C470.919 29.792 476.919 31.28 482.007 34.256C487.095 37.232 490.887 40.976 493.383 45.488V31.088H506.631V110H493.383V95.312C490.791 99.92 486.903 103.76 481.719 106.832C476.631 109.808 470.679 111.296 463.863 111.296C456.855 111.296 450.519 109.568 444.855 106.112C439.191 102.656 434.727 97.808 431.463 91.568C428.199 85.328 426.567 78.224 426.567 70.256ZM493.383 70.4C493.383 64.448 492.183 59.264 489.783 54.848C487.383 50.432 484.119 47.072 479.991 44.768C475.959 42.368 471.495 41.168 466.599 41.168C461.703 41.168 457.239 42.32 453.207 44.624C449.175 46.928 445.959 50.288 443.559 54.704C441.159 59.12 439.959 64.304 439.959 70.256C439.959 76.304 441.159 81.584 443.559 86.096C445.959 90.512 449.175 93.92 453.207 96.32C457.239 98.624 461.703 99.776 466.599 99.776C471.495 99.776 475.959 98.624 479.991 96.32C484.119 93.92 487.383 90.512 489.783 86.096C492.183 81.584 493.383 76.352 493.383 70.4Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M623.671 29.648C629.815 29.648 635.287 30.944 640.087 33.536C644.887 36.032 648.679 39.824 651.463 44.912C654.247 50 655.639 56.192 655.639 63.488V110H642.679V65.36C642.679 57.488 640.711 51.488 636.775 47.36C632.935 43.136 627.703 41.024 621.079 41.024C614.263 41.024 608.839 43.232 604.807 47.648C600.775 51.968 598.759 58.256 598.759 66.512V110H585.799V65.36C585.799 57.488 583.831 51.488 579.895 47.36C576.055 43.136 570.823 41.024 564.199 41.024C557.383 41.024 551.959 43.232 547.927 47.648C543.895 51.968 541.879 58.256 541.879 66.512V110H528.775V31.088H541.879V42.464C544.471 38.336 547.927 35.168 552.247 32.96C556.663 30.752 561.511 29.648 566.791 29.648C573.415 29.648 579.271 31.136 584.359 34.112C589.447 37.088 593.24 41.456 595.736 47.216C597.943 41.648 601.591 37.328 606.679 34.256C611.767 31.184 617.431 29.648 623.671 29.648Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    <path d="M690.239 45.632C692.831 41.12 696.671 37.376 701.759 34.4C706.943 31.328 712.943 29.792 719.759 29.792C726.767 29.792 733.103 31.472 738.767 34.832C744.527 38.192 749.039 42.944 752.303 49.088C755.567 55.136 757.199 62.192 757.199 70.256C757.199 78.224 755.567 85.328 752.303 91.568C749.039 97.808 744.527 102.656 738.767 106.112C733.103 109.568 726.767 111.296 719.759 111.296C713.039 111.296 707.087 109.808 701.903 106.832C696.815 103.76 692.927 99.968 690.239 95.456V147.44H677.135V31.088H690.239V45.632ZM743.807 70.256C743.807 64.304 742.607 59.12 740.207 54.704C737.807 50.288 734.543 46.928 730.415 44.624C726.383 42.32 721.919 41.168 717.023 41.168C712.223 41.168 707.759 42.368 703.631 44.768C699.599 47.072 696.335 50.48 693.839 54.992C691.439 59.408 690.239 64.544 690.239 70.4C690.239 76.352 691.439 81.584 693.839 86.096C696.335 90.512 699.599 93.92 703.631 96.32C707.759 98.624 712.223 99.776 717.023 99.776C721.919 99.776 726.383 98.624 730.415 96.32C734.543 93.92 737.807 90.512 740.207 86.096C742.607 81.584 743.807 76.304 743.807 70.256Z" stroke="#E5E5E5" stroke-width="4" mask="url(#path-1-outside-1)"/>
                    </svg> -->
                    <!-- <svg id="logo" width="90%" height="100vh" viewBox="0 0 728 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M71.8266 29.6C69.5066 24.72 66.1466 20.96 61.7466 18.32C57.3466 15.6 52.2266 14.24 46.3866 14.24C40.5466 14.24 35.2666 15.6 30.5466 18.32C25.9066 20.96 22.2266 24.8 19.5066 29.84C16.8666 34.8 15.5466 40.56 15.5466 47.12C15.5466 53.68 16.8666 59.44 19.5066 64.4C22.2266 69.36 25.9066 73.2 30.5466 75.92C35.2666 78.56 40.5466 79.88 46.3866 79.88C54.5466 79.88 61.2666 77.44 66.5466 72.56C71.8266 67.68 74.9066 61.08 75.7866 52.76H42.4266V43.88H87.4266V52.28C86.7866 59.16 84.6266 65.48 80.9466 71.24C77.2666 76.92 72.4266 81.44 66.4266 84.8C60.4266 88.08 53.7466 89.72 46.3866 89.72C38.6266 89.72 31.5466 87.92 25.1466 84.32C18.7466 80.64 13.6666 75.56 9.9066 69.08C6.2266 62.6 4.3866 55.28 4.3866 47.12C4.3866 38.96 6.2266 31.64 9.9066 25.16C13.6666 18.6 18.7466 13.52 25.1466 9.92C31.5466 6.24 38.6266 4.4 46.3866 4.4C55.2666 4.4 63.1066 6.6 69.9066 11C76.7866 15.4 81.7866 21.6 84.9066 29.6H71.8266Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M130.545 90.08C124.385 90.08 118.785 88.68 113.745 85.88C108.785 83.08 104.865 79.12 101.985 74C99.185 68.8 97.785 62.8 97.785 56C97.785 49.28 99.225 43.36 102.105 38.24C105.065 33.04 109.065 29.08 114.105 26.36C119.145 23.56 124.785 22.16 131.025 22.16C137.265 22.16 142.905 23.56 147.945 26.36C152.985 29.08 156.945 33 159.825 38.12C162.785 43.24 164.265 49.2 164.265 56C164.265 62.8 162.745 68.8 159.705 74C156.745 79.12 152.705 83.08 147.585 85.88C142.465 88.68 136.785 90.08 130.545 90.08ZM130.545 80.48C134.465 80.48 138.145 79.56 141.585 77.72C145.025 75.88 147.785 73.12 149.865 69.44C152.025 65.76 153.105 61.28 153.105 56C153.105 50.72 152.065 46.24 149.985 42.56C147.905 38.88 145.185 36.16 141.825 34.4C138.465 32.56 134.825 31.64 130.905 31.64C126.905 31.64 123.225 32.56 119.865 34.4C116.585 36.16 113.945 38.88 111.945 42.56C109.945 46.24 108.945 50.72 108.945 56C108.945 61.36 109.905 65.88 111.825 69.56C113.825 73.24 116.465 76 119.745 77.84C123.025 79.6 126.625 80.48 130.545 80.48Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M174.543 47.12C174.543 38.96 176.383 31.64 180.063 25.16C183.743 18.6 188.743 13.48 195.063 9.8C201.463 6.12 208.543 4.28 216.303 4.28C225.423 4.28 233.383 6.48 240.183 10.88C246.983 15.28 251.943 21.52 255.063 29.6H241.983C239.663 24.56 236.303 20.68 231.903 17.96C227.583 15.24 222.383 13.88 216.303 13.88C210.463 13.88 205.223 15.24 200.583 17.96C195.943 20.68 192.303 24.56 189.663 29.6C187.023 34.56 185.703 40.4 185.703 47.12C185.703 53.76 187.023 59.6 189.663 64.64C192.303 69.6 195.943 73.44 200.583 76.16C205.223 78.88 210.463 80.24 216.303 80.24C222.383 80.24 227.583 78.92 231.903 76.28C236.303 73.56 239.663 69.68 241.983 64.64H255.063C251.943 72.64 246.983 78.84 240.183 83.24C233.383 87.56 225.423 89.72 216.303 89.72C208.543 89.72 201.463 87.92 195.063 84.32C188.743 80.64 183.743 75.56 180.063 69.08C176.383 62.6 174.543 55.28 174.543 47.12Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M267.238 55.88C267.238 49.16 268.598 43.28 271.318 38.24C274.038 33.12 277.758 29.16 282.478 26.36C287.278 23.56 292.598 22.16 298.438 22.16C304.198 22.16 309.198 23.4 313.438 25.88C317.678 28.36 320.838 31.48 322.918 35.24V23.24H333.958V89H322.918V76.76C320.758 80.6 317.518 83.8 313.198 86.36C308.958 88.84 303.998 90.08 298.318 90.08C292.478 90.08 287.198 88.64 282.478 85.76C277.758 82.88 274.038 78.84 271.318 73.64C268.598 68.44 267.238 62.52 267.238 55.88ZM322.918 56C322.918 51.04 321.918 46.72 319.918 43.04C317.918 39.36 315.198 36.56 311.758 34.64C308.398 32.64 304.678 31.64 300.598 31.64C296.518 31.64 292.798 32.6 289.438 34.52C286.078 36.44 283.398 39.24 281.398 42.92C279.398 46.6 278.398 50.92 278.398 55.88C278.398 60.92 279.398 65.32 281.398 69.08C283.398 72.76 286.078 75.6 289.438 77.6C292.798 79.52 296.518 80.48 300.598 80.48C304.678 80.48 308.398 79.52 311.758 77.6C315.198 75.6 317.918 72.76 319.918 69.08C321.918 65.32 322.918 60.96 322.918 56Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M431.492 22.04C436.612 22.04 441.172 23.12 445.172 25.28C449.172 27.36 452.332 30.52 454.652 34.76C456.972 39 458.132 44.16 458.132 50.24V89H447.332V51.8C447.332 45.24 445.692 40.24 442.412 36.8C439.212 33.28 434.852 31.52 429.332 31.52C423.652 31.52 419.132 33.36 415.772 37.04C412.412 40.64 410.732 45.88 410.732 52.76V89H399.932V51.8C399.932 45.24 398.292 40.24 395.012 36.8C391.812 33.28 387.452 31.52 381.932 31.52C376.252 31.52 371.732 33.36 368.372 37.04C365.012 40.64 363.332 45.88 363.332 52.76V89H352.412V23.24H363.332V32.72C365.492 29.28 368.372 26.64 371.972 24.8C375.652 22.96 379.692 22.04 384.092 22.04C389.612 22.04 394.492 23.28 398.732 25.76C402.972 28.24 406.132 31.88 408.212 36.68C410.052 32.04 413.092 28.44 417.332 25.88C421.572 23.32 426.292 22.04 431.492 22.04Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M486.965 35.36C489.125 31.6 492.325 28.48 496.565 26C500.885 23.44 505.885 22.16 511.565 22.16C517.405 22.16 522.685 23.56 527.405 26.36C532.205 29.16 535.965 33.12 538.685 38.24C541.405 43.28 542.765 49.16 542.765 55.88C542.765 62.52 541.405 68.44 538.685 73.64C535.965 78.84 532.205 82.88 527.405 85.76C522.685 88.64 517.405 90.08 511.565 90.08C505.965 90.08 501.005 88.84 496.685 86.36C492.445 83.8 489.205 80.64 486.965 76.88V120.2H476.045V23.24H486.965V35.36ZM531.605 55.88C531.605 50.92 530.605 46.6 528.605 42.92C526.605 39.24 523.885 36.44 520.445 34.52C517.085 32.6 513.365 31.64 509.285 31.64C505.285 31.64 501.565 32.64 498.125 34.64C494.765 36.56 492.045 39.4 489.965 43.16C487.965 46.84 486.965 51.12 486.965 56C486.965 60.96 487.965 65.32 489.965 69.08C492.045 72.76 494.765 75.6 498.125 77.6C501.565 79.52 505.285 80.48 509.285 80.48C513.365 80.48 517.085 79.52 520.445 77.6C523.885 75.6 526.605 72.76 528.605 69.08C530.605 65.32 531.605 60.92 531.605 55.88Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M617.138 53.6C617.138 55.68 617.019 57.88 616.779 60.2H564.219C564.619 66.68 566.818 71.76 570.818 75.44C574.898 79.04 579.818 80.84 585.578 80.84C590.298 80.84 594.219 79.76 597.339 77.6C600.539 75.36 602.778 72.4 604.058 68.72H615.818C614.058 75.04 610.538 80.2 605.258 84.2C599.978 88.12 593.418 90.08 585.578 90.08C579.338 90.08 573.739 88.68 568.779 85.88C563.899 83.08 560.058 79.12 557.258 74C554.458 68.8 553.058 62.8 553.058 56C553.058 49.2 554.418 43.24 557.138 38.12C559.858 33 563.659 29.08 568.539 26.36C573.499 23.56 579.178 22.16 585.578 22.16C591.818 22.16 597.338 23.52 602.138 26.24C606.938 28.96 610.619 32.72 613.179 37.52C615.819 42.24 617.138 47.6 617.138 53.6ZM605.859 51.32C605.859 47.16 604.939 43.6 603.099 40.64C601.259 37.6 598.739 35.32 595.539 33.8C592.419 32.2 588.939 31.4 585.099 31.4C579.579 31.4 574.858 33.16 570.938 36.68C567.098 40.2 564.899 45.08 564.339 51.32H605.859Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M642.473 33.92C644.393 30.16 647.113 27.24 650.633 25.16C654.233 23.08 658.593 22.04 663.713 22.04V33.32H660.833C648.593 33.32 642.473 39.96 642.473 53.24V89H631.553V23.24H642.473V33.92Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                        <path d="M699.598 90.08C694.558 90.08 690.038 89.24 686.038 87.56C682.038 85.8 678.878 83.4 676.558 80.36C674.238 77.24 672.958 73.68 672.718 69.68H683.998C684.318 72.96 685.838 75.64 688.558 77.72C691.358 79.8 694.998 80.84 699.478 80.84C703.638 80.84 706.918 79.92 709.318 78.08C711.718 76.24 712.918 73.92 712.918 71.12C712.918 68.24 711.638 66.12 709.078 64.76C706.518 63.32 702.558 61.92 697.198 60.56C692.318 59.28 688.318 58 685.198 56.72C682.158 55.36 679.518 53.4 677.278 50.84C675.118 48.2 674.038 44.76 674.038 40.52C674.038 37.16 675.038 34.08 677.038 31.28C679.038 28.48 681.878 26.28 685.558 24.68C689.238 23 693.438 22.16 698.158 22.16C705.438 22.16 711.318 24 715.798 27.68C720.278 31.36 722.678 36.4 722.998 42.8H712.078C711.838 39.36 710.438 36.6 707.878 34.52C705.398 32.44 702.038 31.4 697.798 31.4C693.878 31.4 690.758 32.24 688.438 33.92C686.118 35.6 684.958 37.8 684.958 40.52C684.958 42.68 685.638 44.48 686.998 45.92C688.438 47.28 690.198 48.4 692.278 49.28C694.438 50.08 697.398 51 701.158 52.04C705.878 53.32 709.718 54.6 712.678 55.88C715.638 57.08 718.158 58.92 720.238 61.4C722.398 63.88 723.518 67.12 723.598 71.12C723.598 74.72 722.598 77.96 720.598 80.84C718.598 83.72 715.758 86 712.078 87.68C708.478 89.28 704.318 90.08 699.598 90.08Z" stroke="white" stroke-width="8" mask="url(#path-1-outside-1_3_8)"/>
                    </svg> -->
                    <svg id="logo" width="90%" height="100vh" viewBox="0 0 722 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M68.8266 26.6C66.5066 21.72 63.1466 17.96 58.7466 15.32C54.3466 12.6 49.2266 11.24 43.3866 11.24C37.5466 11.24 32.2666 12.6 27.5466 15.32C22.9066 17.96 19.2266 21.8 16.5066 26.84C13.8666 31.8 12.5466 37.56 12.5466 44.12C12.5466 50.68 13.8666 56.44 16.5066 61.4C19.2266 66.36 22.9066 70.2 27.5466 72.92C32.2666 75.56 37.5466 76.88 43.3866 76.88C51.5466 76.88 58.2666 74.44 63.5466 69.56C68.8266 64.68 71.9066 58.08 72.7866 49.76H39.4266V40.88H84.4266V49.28C83.7866 56.16 81.6266 62.48 77.9466 68.24C74.2666 73.92 69.4266 78.44 63.4266 81.8C57.4266 85.08 50.7466 86.72 43.3866 86.72C35.6266 86.72 28.5466 84.92 22.1466 81.32C15.7466 77.64 10.6666 72.56 6.9066 66.08C3.2266 59.6 1.3866 52.28 1.3866 44.12C1.3866 35.96 3.2266 28.64 6.9066 22.16C10.6666 15.6 15.7466 10.52 22.1466 6.92C28.5466 3.24 35.6266 1.4 43.3866 1.4C52.2666 1.4 60.1066 3.6 66.9066 8C73.7866 12.4 78.7866 18.6 81.9066 26.6H68.8266Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M127.545 87.08C121.385 87.08 115.785 85.68 110.745 82.88C105.785 80.08 101.865 76.12 98.985 71C96.185 65.8 94.785 59.8 94.785 53C94.785 46.28 96.225 40.36 99.105 35.24C102.065 30.04 106.065 26.08 111.105 23.36C116.145 20.56 121.785 19.16 128.025 19.16C134.265 19.16 139.905 20.56 144.945 23.36C149.985 26.08 153.945 30 156.825 35.12C159.785 40.24 161.265 46.2 161.265 53C161.265 59.8 159.745 65.8 156.705 71C153.745 76.12 149.705 80.08 144.585 82.88C139.465 85.68 133.785 87.08 127.545 87.08ZM127.545 77.48C131.465 77.48 135.145 76.56 138.585 74.72C142.025 72.88 144.785 70.12 146.865 66.44C149.025 62.76 150.105 58.28 150.105 53C150.105 47.72 149.065 43.24 146.985 39.56C144.905 35.88 142.185 33.16 138.825 31.4C135.465 29.56 131.825 28.64 127.905 28.64C123.905 28.64 120.225 29.56 116.865 31.4C113.585 33.16 110.945 35.88 108.945 39.56C106.945 43.24 105.945 47.72 105.945 53C105.945 58.36 106.905 62.88 108.825 66.56C110.825 70.24 113.465 73 116.745 74.84C120.025 76.6 123.625 77.48 127.545 77.48Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M171.543 44.12C171.543 35.96 173.383 28.64 177.063 22.16C180.743 15.6 185.743 10.48 192.063 6.8C198.463 3.12 205.543 1.28 213.303 1.28C222.423 1.28 230.383 3.48 237.183 7.88C243.983 12.28 248.943 18.52 252.063 26.6H238.983C236.663 21.56 233.303 17.68 228.903 14.96C224.583 12.24 219.383 10.88 213.303 10.88C207.463 10.88 202.223 12.24 197.583 14.96C192.943 17.68 189.303 21.56 186.663 26.6C184.023 31.56 182.703 37.4 182.703 44.12C182.703 50.76 184.023 56.6 186.663 61.64C189.303 66.6 192.943 70.44 197.583 73.16C202.223 75.88 207.463 77.24 213.303 77.24C219.383 77.24 224.583 75.92 228.903 73.28C233.303 70.56 236.663 66.68 238.983 61.64H252.063C248.943 69.64 243.983 75.84 237.183 80.24C230.383 84.56 222.423 86.72 213.303 86.72C205.543 86.72 198.463 84.92 192.063 81.32C185.743 77.64 180.743 72.56 177.063 66.08C173.383 59.6 171.543 52.28 171.543 44.12Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M264.238 52.88C264.238 46.16 265.598 40.28 268.318 35.24C271.038 30.12 274.758 26.16 279.478 23.36C284.278 20.56 289.598 19.16 295.438 19.16C301.198 19.16 306.198 20.4 310.438 22.88C314.678 25.36 317.838 28.48 319.918 32.24V20.24H330.958V86H319.918V73.76C317.758 77.6 314.518 80.8 310.198 83.36C305.958 85.84 300.998 87.08 295.318 87.08C289.478 87.08 284.198 85.64 279.478 82.76C274.758 79.88 271.038 75.84 268.318 70.64C265.598 65.44 264.238 59.52 264.238 52.88ZM319.918 53C319.918 48.04 318.918 43.72 316.918 40.04C314.918 36.36 312.198 33.56 308.758 31.64C305.398 29.64 301.678 28.64 297.598 28.64C293.518 28.64 289.798 29.6 286.438 31.52C283.078 33.44 280.398 36.24 278.398 39.92C276.398 43.6 275.398 47.92 275.398 52.88C275.398 57.92 276.398 62.32 278.398 66.08C280.398 69.76 283.078 72.6 286.438 74.6C289.798 76.52 293.518 77.48 297.598 77.48C301.678 77.48 305.398 76.52 308.758 74.6C312.198 72.6 314.918 69.76 316.918 66.08C318.918 62.32 319.918 57.96 319.918 53Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M428.492 19.04C433.612 19.04 438.172 20.12 442.172 22.28C446.172 24.36 449.332 27.52 451.652 31.76C453.972 36 455.132 41.16 455.132 47.24V86H444.332V48.8C444.332 42.24 442.692 37.24 439.412 33.8C436.212 30.28 431.852 28.52 426.332 28.52C420.652 28.52 416.132 30.36 412.772 34.04C409.412 37.64 407.732 42.88 407.732 49.76V86H396.932V48.8C396.932 42.24 395.292 37.24 392.012 33.8C388.812 30.28 384.452 28.52 378.932 28.52C373.252 28.52 368.732 30.36 365.372 34.04C362.012 37.64 360.332 42.88 360.332 49.76V86H349.412V20.24H360.332V29.72C362.492 26.28 365.372 23.64 368.972 21.8C372.652 19.96 376.692 19.04 381.092 19.04C386.612 19.04 391.492 20.28 395.732 22.76C399.972 25.24 403.132 28.88 405.212 33.68C407.052 29.04 410.092 25.44 414.332 22.88C418.572 20.32 423.292 19.04 428.492 19.04Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M483.965 32.36C486.125 28.6 489.325 25.48 493.565 23C497.885 20.44 502.885 19.16 508.565 19.16C514.405 19.16 519.685 20.56 524.405 23.36C529.205 26.16 532.965 30.12 535.685 35.24C538.405 40.28 539.765 46.16 539.765 52.88C539.765 59.52 538.405 65.44 535.685 70.64C532.965 75.84 529.205 79.88 524.405 82.76C519.685 85.64 514.405 87.08 508.565 87.08C502.965 87.08 498.005 85.84 493.685 83.36C489.445 80.8 486.205 77.64 483.965 73.88V117.2H473.045V20.24H483.965V32.36ZM528.605 52.88C528.605 47.92 527.605 43.6 525.605 39.92C523.605 36.24 520.885 33.44 517.445 31.52C514.085 29.6 510.365 28.64 506.285 28.64C502.285 28.64 498.565 29.64 495.125 31.64C491.765 33.56 489.045 36.4 486.965 40.16C484.965 43.84 483.965 48.12 483.965 53C483.965 57.96 484.965 62.32 486.965 66.08C489.045 69.76 491.765 72.6 495.125 74.6C498.565 76.52 502.285 77.48 506.285 77.48C510.365 77.48 514.085 76.52 517.445 74.6C520.885 72.6 523.605 69.76 525.605 66.08C527.605 62.32 528.605 57.92 528.605 52.88Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M614.138 50.6C614.138 52.68 614.019 54.88 613.779 57.2H561.219C561.619 63.68 563.818 68.76 567.818 72.44C571.898 76.04 576.818 77.84 582.578 77.84C587.298 77.84 591.219 76.76 594.339 74.6C597.539 72.36 599.778 69.4 601.058 65.72H612.818C611.058 72.04 607.538 77.2 602.258 81.2C596.978 85.12 590.418 87.08 582.578 87.08C576.338 87.08 570.739 85.68 565.779 82.88C560.899 80.08 557.058 76.12 554.258 71C551.458 65.8 550.058 59.8 550.058 53C550.058 46.2 551.418 40.24 554.138 35.12C556.858 30 560.659 26.08 565.539 23.36C570.499 20.56 576.178 19.16 582.578 19.16C588.818 19.16 594.338 20.52 599.138 23.24C603.938 25.96 607.619 29.72 610.179 34.52C612.819 39.24 614.138 44.6 614.138 50.6ZM602.859 48.32C602.859 44.16 601.939 40.6 600.099 37.64C598.259 34.6 595.739 32.32 592.539 30.8C589.419 29.2 585.939 28.4 582.099 28.4C576.579 28.4 571.858 30.16 567.938 33.68C564.098 37.2 561.899 42.08 561.339 48.32H602.859Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M639.473 30.92C641.393 27.16 644.113 24.24 647.633 22.16C651.233 20.08 655.593 19.04 660.713 19.04V30.32H657.833C645.593 30.32 639.473 36.96 639.473 50.24V86H628.553V20.24H639.473V30.92Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                        <path d="M696.598 87.08C691.558 87.08 687.038 86.24 683.038 84.56C679.038 82.8 675.878 80.4 673.558 77.36C671.238 74.24 669.958 70.68 669.718 66.68H680.998C681.318 69.96 682.838 72.64 685.558 74.72C688.358 76.8 691.998 77.84 696.478 77.84C700.638 77.84 703.918 76.92 706.318 75.08C708.718 73.24 709.918 70.92 709.918 68.12C709.918 65.24 708.638 63.12 706.078 61.76C703.518 60.32 699.558 58.92 694.198 57.56C689.318 56.28 685.318 55 682.198 53.72C679.158 52.36 676.518 50.4 674.278 47.84C672.118 45.2 671.038 41.76 671.038 37.52C671.038 34.16 672.038 31.08 674.038 28.28C676.038 25.48 678.878 23.28 682.558 21.68C686.238 20 690.438 19.16 695.158 19.16C702.438 19.16 708.318 21 712.798 24.68C717.278 28.36 719.678 33.4 719.998 39.8H709.078C708.838 36.36 707.438 33.6 704.878 31.52C702.398 29.44 699.038 28.4 694.798 28.4C690.878 28.4 687.758 29.24 685.438 30.92C683.118 32.6 681.958 34.8 681.958 37.52C681.958 39.68 682.638 41.48 683.998 42.92C685.438 44.28 687.198 45.4 689.278 46.28C691.438 47.08 694.398 48 698.158 49.04C702.878 50.32 706.718 51.6 709.678 52.88C712.638 54.08 715.158 55.92 717.238 58.4C719.398 60.88 720.518 64.12 720.598 68.12C720.598 71.72 719.598 74.96 717.598 77.84C715.598 80.72 712.758 83 709.078 84.68C705.478 86.28 701.318 87.08 696.598 87.08Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_4_9)"/>
                    </svg>
                        
                        
                </div>                    
                    <p class="animated fadeIn headline">Handpicked Camping sites for you.</p>   
                    <p style="color:white !important; margin-top:30px; font-size:15px" class="animated fadeIn headline">*Click anywhere to get started</p>
            </section>
        </div>
    </a>
        <script>
            const logo = document.querySelectorAll('#logo path');
            for(let i=0; i<logo.length; i++){
                console.log("length of "+i+" is "+logo[i].getTotalLength());
            }



        </script>
<%- include("partials/footer") %>